<div class="container">
  <div class="row">
    <div class="start col text-center text-light"><br><br><br><br>
      <h2>あなたに合ったアロマを見つけてみませんか？</h2><br><br><br><br><br><br><br>
      <h3><u><%= link_to "診断を始める", new_perfume_path, class: "link text-light" %></u></h3><br><br><br><br><br>
    </div>
  </div>
</div>