<div class="container">
  <div class="row">
    <div class="start col text-center text-light">
      <h2>あなたに合ったアロマを見つけてみませんか？</h2>
      <h3><%= link_to "診断を始める", new_perfume_path, class: "link text-light" %></h3>
    </div>
  </div>
</div>