<div class="container">
  <div class="intoro text-light text-center">
    <h2>診断結果</h2>
    <h2>あなたにおすすめの香りは…</h2><br>
    <div class="tweet-container text-light">
      <div class="tweet">
        <!--診断結果でレモンの時-->
        <% if @perfume.question == "1111" %>
        <h1 class="font-weight-bold">「レモン」</h1><br>
        <h4>
          レモンを切った時に広がる、<br>
          キリッとした鋭い柑橘の香り
        </h4><br>
        <h5 class="col-10">○心への働き</h5>
        <h6>
          心の動揺をしずめ、冷静にする。<br>
          集中力を高め、意識をクリアにする。
        </h6><br>
        <h5 class="col-10">○体への働き</h5>
        <h6>
          感染症を予防する。<br>
          冷え性、むくみを改善する。
        </h6><br>
        <h5 class="col-10">○肌への働き</h5>
        <h6>
          血行を良くし、肌の明るさを取り戻す。<br>
          髪や爪を強くし、成長を促す。
        </h6><br>
        <!--診断結果でグレープフルーツの時-->
        <% elsif @perfume.question == "1112" %>
        <h1 class="font-weight-bold">「グレープフルーツ」</h1><br>
        <h4>
          グレープフルーツ果実そのものの甘酸っぱい香り<br>
          オレンジほど甘みが強くなくさわやか
        </h4><br>
        <h5 class="col-10">○心への働き</h5>
        <h6>
          気持ちを高揚させて元気にし幸福感を与える。<br>
          沈みがちな気持ちを明るくリフレッシュさせる。
        </h6><br>
        <h5 class="col-10">○体への働き</h5>
        <h6>
          体内脂肪の燃焼を促す。<br>
          デオドラント効果で汗のにおいを抑える。
        </h6><br>
        <h5 class="col-10">○肌への働き</h5>
        <h6>
          切り傷の治りを促す。
        </h6><br>
        <!--診断結果でゼラニウムの時-->
        <% elsif @perfume.question == "1121" %>
        <h1 class="font-weight-bold">「ゼラニウム」</h1><br>
        <h4>
          別名「ローズゼラニウム」。ローズに似て、<br>
          ローズより重量感のある甘い香り。
        </h4><br>
        <h5 class="col-10">○心への働き</h5>
        <h6>
          沈んだ気持ちをやわらげ、明るく盛り上げる。
        </h6><br>
        <h5 class="col-10">○体への働き</h5>
        <h6>
          ホルモンバランスを整え、月経前緊張症、<br>
          更年期障害の症状をやわらげる。
        </h6><br>
        <h5 class="col-10">○肌への働き</h5>
        <h6>
          皮脂のバランスをととのえる。<br>
          しっしん、やけどの痛みや炎症をやわらげる。
        </h6><br>
        <!--診断結果でラベンダーの時-->
        <% elsif @perfume.question == "1122" %>
        <h1 class="font-weight-bold">「ラベンダー」</h1><br>
        <h4>
          やわらかで軽く、さわやかな中にウッディーな<br>
          深みももつ、南仏の花の香り
        </h4><br>
        <h5 class="col-10">○心への働き</h5>
        <h6>
          緊張やストレスをやわらげ、眠りを促す。
        </h6><br>
        <h5 class="col-10">○体への働き</h5>
        <h6>
          頭痛、月経痛、筋肉痛の痛みをやわらげる。<br>
          血行を促し、リンパの流れをよくする。
        </h6><br>
        <h5 class="col-10">○肌への働き</h5>
        <h6>
          日焼けによる炎症をしずめ、やけどの治りを促す。<br>
          ニキビ、虫刺され、水虫などを改善する。
        </h6><br>
        <!--診断結果でオレンジスイートの時-->
        <% elsif @perfume.question == "1211" %>
        <h1 class="font-weight-bold">「オレンジスイート」</h1><br>
        <h4>
          誰にでも愛される、オレンジの皮をむいたときに<br>
          広がる甘くフレッシュな香りそのもの
        </h4><br>
        <h5 class="col-10">○心への働き</h5>
        <h6>
          気分を明るく元気にし、不安を取り除く。<br>
          緊張やストレスをやわらげる。
        </h6><br>
        <h5 class="col-10">○体への働き</h5>
        <h6>
          消化不良や食欲不振、便秘などを改善する。<br>
          空気を浄化するので、風邪の季節によい。
        </h6><br>
        <h5 class="col-10">○肌への働き</h5>
        <h6>
          疲れた肌をいきいきと元気によみがえらせる。
        </h6><br>
        <!--診断結果でパルマローザの時-->
        <% elsif @perfume.question == "1212" %>
        <h1 class="font-weight-bold">「パルマローザ」</h1><br>
        <h4>
          ローズと同成分が含まれているため、かすかに<br>
          バラを思わせるが、軽くドライな香り
        </h4><br>
        <h5 class="col-10">○心への働き</h5>
        <h6>
          不安定な情緒をしずめ、気持ちを明るくさせる。
        </h6><br>
        <h5 class="col-10">○体への働き</h5>
        <h6>
          感染症の予防、熱を下げるのを助ける。<br>
          食欲を増進させる
        </h6><br>
        <h5 class="col-10">○肌への働き</h5>
        <h6>
          しわ予防をはじめ、皮膚の老化防止に効果がある。<br>
          肌の水分バランスと皮脂の分泌を正常にする。
        </h6><br>
        <!--診断結果でカモミールの時-->
        <% elsif @perfume.question == "1221" %>
        <h1 class="font-weight-bold">「カモミール」</h1><br>
        <h4>
          濃厚で甘く、少しスパイシーな香り
        </h4><br>
        <h5 class="col-10">○心への働き</h5>
        <h6>
          安らぎを与え、心地よい眠りに誘う。
        </h6><br>
        <h5 class="col-10">○体への働き</h5>
        <h6>
          間接の痛みをやわらげる。<br>
          更年期障害の症状を改善する。
        </h6><br>
        <h5 class="col-10">○肌への働き</h5>
        <h6>
          抗炎症作用があるので、肌が荒れているときに。<br>
          切り傷の治療を促進し、虫刺されｌにも有効。
        </h6><br>
        <!--診断結果でユーカリの時-->
        <% elsif @perfume.question == "1222" %>
        <h1 class="font-weight-bold">「ユーカリ」</h1><br>
          <h4>
            ミント系の清涼感をもつ、しみ通るような<br>
            シャープでクリアな香り
          </h4><br>
          <h5 class="col-10">○心への働き</h5>
          <h6>
            イライラした気分をリフレッシュ。<br>
            脳を刺激してクリアにし集中力を高める。
          </h6><br>
          <h5 class="col-10">○体への働き</h5>
          <h6>
            風邪や花粉症の症状をやわらげる。<br>
            免疫力を高め、感染症を予防する。
          </h6><br>
          <h5 class="col-10">○肌への働き</h5>
          <h6>
            オイリーヘア、フケ症を改善する。
          </h6><br>
        <!--診断結果でローズマリーの時-->
        <% elsif @perfume.question == "2111" %>
        <h1 class="font-weight-bold">「ローズマリー」</h1><br>
          <h4>
            樟脳のような強く鋭くすがすがしい香り<br>
            料理用としてもおなじみ
          </h4><br>
          <h5 class="col-10">○心への働き</h5>
          <h6>
            脳に刺激を与え、集中力・記憶力を<br>
            高め、眠気を覚ます。
          </h6><br>
          <h5 class="col-10">○体への働き</h5>
          <h6>
            頭痛、偏頭痛、軽いめまいをやわらげる。
          </h6><br>
          <h5 class="col-10">○肌への働き</h5>
          <h6>
            肌のたるみやむくみを解消する。<br>
            フケを抑え、毛髪の成長を促す。
          </h6><br>
        <!--診断結果でベルガモットの時-->
        <% elsif @perfume.question == "2112" %>
        <h1 class="font-weight-bold">「ベルガモット」</h1><br>
          <h4>
            フローラルな甘みと、フルーティーなさわやかさを<br>
            あわせ持つ香り。多くの精油と相性がいい
          </h4><br>
          <h5 class="col-10">○心への働き</h5>
          <h6>
            憂鬱や不安、緊張をやわらげる。<br>
            怒りをしずめ、安眠を促す。
          </h6><br>
          <h5 class="col-10">○体への働き</h5>
          <h6>
            消化を助け食欲を増進させる。<br>
            気管支系の痛みをやわらげる。
          </h6><br>
          <h5 class="col-10">○肌への働き</h5>
          <h6>
            脂性肌に向き、しっしん、ニキビをしずめる。
          </h6><br>
        <!--診断結果でフランキンセンスの時-->
        <% elsif @perfume.question == "2121" %>
        <h1 class="font-weight-bold">「フランキンセンス」</h1><br>
          <h4>
            寺院の「香」に使われることで有名な、<br>
            スモーキーで甘く上品な香り
          </h4><br>
          <h5 class="col-10">○心への働き</h5>
          <h6>
            悲しい心を慰め、不安をやわらげる。
          </h6><br>
          <h5 class="col-10">○体への働き</h5>
          <h6>
            せきや気管支炎をやわらげる。<br>
            体を温め、冷え性を改善する。
          </h6><br>
          <h5 class="col-10">○肌への働き</h5>
          <h6>
            老化した肌を活性化させる。<br>
            しわやたるみを改善させる。
          </h6><br>
        <!--診断結果でクラリセージの時-->
        <% elsif @perfume.question == "2122" %>
        <h1 class="font-weight-bold">「クラリセージ」</h1><br>
          <h4>
            マスカットを思わせるややフルーティーで<br>
            ウッディーな香りを含んだ、温かみのある香り
          </h4><br>
          <h5 class="col-10">○心への働き</h5>
          <h6>
            緊張や不安で疲労した神経をほぐす。<br>
            パニック状態に陥ったとき、平静な心に戻す。
          </h6><br>
          <h5 class="col-10">○体への働き</h5>
          <h6>
            月経不純に働く。<br>
            血行を促して体を温める。
          </h6><br>
          <h5 class="col-10">○肌への働き</h5>
          <h6>
            髪の毛の成長を促進する。<br>
            脂性肌をととのえる。
          </h6><br>
        <!--診断結果でシダーウッドの時-->
        <% elsif @perfume.question == "2211" %>
        <h1 class="font-weight-bold">「シダーウッド」</h1><br>
          <h4>
            ヒノキに似て、サンダルウッドよりもドライで<br>
            スパイシーさがまじる神秘的な香り
          </h4><br>
          <h5 class="col-10">○心への働き</h5>
          <h6>
            不安をやわらげ、緊張をほぐす。
          </h6><br>
          <h5 class="col-10">○体への働き</h5>
          <h6>
            リンパの流れを良くし、むくみを改善させる。<br>
            せきをしずめる。
          </h6><br>
          <h5 class="col-10">○肌への働き</h5>
          <h6>
            収れんと殺菌作用でニキビの治りを促す。<br>
            頭皮の脂、フケ、脱毛症をやわらげる。
          </h6><br>
        <!--診断結果でベンゾインの時-->
        <% elsif @perfume.question == "2212" %>
        <h1 class="font-weight-bold">「ベンゾイン」</h1><br>
          <h4>
            東南アジア産の樹木の樹脂から採れる、<br>
            バニラを思わせる甘く穏やかな香り
          </h4><br>
          <h5 class="col-10">○心への働き</h5>
          <h6>
            孤独感や喪失感をやわらげる。<br>
            気持ちを明るく盛り上げる。
          </h6><br>
          <h5 class="col-10">○体への働き</h5>
          <h6>
            間接や気管支の痛みや炎症をやわらげる。<br>
            気管支系の痛みをやわらげる。
          </h6><br>
          <h5 class="col-10">○肌への働き</h5>
          <h6>
            あかぎれや感想肌に潤いを与える。
          </h6><br>
        <!--診断結果でイランイランの時-->
        <% elsif @perfume.question == "2221" %>
        <h1 class="font-weight-bold">「イランイラン」</h1><br>
          <h4>
            「花の中の花」だけに、濃厚で甘美な南国香り<br>
            エキゾチックな香水の原料としても有名
          </h4><br>
          <h5 class="col-10">○心への働き</h5>
          <h6>
            心配事や不安、パニックから解放し、元気づける。<br>
            ロマンチックな気持ちを高める。
          </h6><br>
          <h5 class="col-10">○体への働き</h5>
          <h6>
            血圧をととのえる。<br>
            不感症ぎみの人にも働く。
          </h6><br>
          <h5 class="col-10">○肌への働き</h5>
          <h6>
            敏感肌の皮脂バランスをととのえる。
          </h6><br>
        <!--診断結果でサンダルウッドの時-->
        <% elsif @perfume.question == "2222" %>
        <h1 class="font-weight-bold">「サンダルウッド」</h1><br>
          <h4>
            寺院に立ち込める上品な香の香り。<br>
            パウダリーで甘く、非常にエキゾチック
          </h4><br>
          <h5 class="col-10">○心への働き</h5>
          <h6>
            強い鎮静作用で心を深くしずめ、おだやかにする。
          </h6><br>
          <h5 class="col-10">○体への働き</h5>
          <h6>
            のどの痛みなど気管支系の不調を改善する。<br>
            心臓を強化し、血行を促進する。
          </h6><br>
          <h5 class="col-10">○肌への働き</h5>
          <h6>
            肌をやわらかくし、トラブル肌を改善する。<br>
            切り傷やひび割れを改善する。
          </h6><br>

        <% end %>

      </div>
    </div>
  </div>
</div>