@use '~bootstrap/scss/bootstrap';

.slideshow-container {
  width: 90%;
  height: 800px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.slide {
  width: 100%;
  height: 800px;
ã€€object-fit: contain;
  position: absolute;
}

.slide img {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

.slide.fade:first-child {
  opacity: 1;
}

.backimage .text {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.backimage .text .guidance {
  font-size: 18px;
  color: #fff;
  background-color: rgba(255, 192, 203, 0.7);
  padding: 20px;
  border-radius: 10px;
}

footer {
  margin-top: auto;
}

@import
url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

h2{
  font-family: 'Noto Serif JP', sans-serif;
}

h4{
  font-family: 'Noto Serif JP', sans-serif;
}

h6{
  font-family: 'Noto Serif JP', sans-serif;
}

body{
  background-color: #696969;
  font-family: 'Noto Serif JP', sans-serif;
  font-color: #ffffff;
}